//mixin for responsive disign 

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width : 37.5em) {@content} ;   //600px
  }

  @if $breakpoint == tab-port {
    @media (max-width : 56.25em) {@content} ;      // 900px
  }

  @if $breakpoint == tab-land { 
    @media (max-width : 75em) {@content}   ;        //1200px
  }

  @if $breakpoint == big-desktop {
    @media (min-width : 112.5em) {@content}    ;    //1800px
  }
}
//------------------------------------------------------------------------------------------------------
*
,*::after,
*::before{
  padding: 0px;
  margin: 0px;
 box-sizing: inherit;
}
html{
  font-size: 62.5%;                         //1rem = 10px , 10px / 16px = 62.5%; 

  @include respond(tab-land){
    font-size: 56.25%;                      //1rem = 9px , 9/16=56.25%
  }

  @include respond(tab-port){
    font-size: 50%;                         //1rem = 8px , 8/16=50%
  }

  @include respond(big-desktop){
    font-size: 75%;                         //1rem = 12px , 12/16=...
  }
}
body{
  box-sizing: border-box;
  padding: 3rem;
}